<section class="tab landmarks{{#if (shiftEq activeTab 'landmarks')}} active{{/if}}" data-tab="landmarks" data-group="primary" data-drop="child">
  {{#each landmarkGroups as |group|}}
    <div class="trait-group grid-{{group.columns}}{{#if group.collapsed}} collapsed{{/if}}" data-group-key="{{group.key}}"
         {{#if group.color}}style="--group-color: {{group.color}};"{{/if}}>
      <header class="group-header">
        <a class="group-toggle" data-action="toggleGroup">
          <i class="fa-solid {{#if group.collapsed}}fa-chevron-right{{else}}fa-chevron-down{{/if}}"></i>
        </a>
        <h2>{{group.label}}</h2>
        {{#if @root.editMode}}
          <a class="group-add" data-action="createChild" data-group-key="{{group.key}}" data-tooltip="{{localize 'SHIFT.Location.AddLandmark'}}">
            <i class="fa-solid fa-plus"></i>
          </a>
        {{/if}}
      </header>

      <ul class="landmark-list">
        {{#each group.children}}
          <li class="landmark-row{{#if safe}} is-safe{{else}} is-unsafe{{/if}}" data-child-uuid="{{uuid}}">
            <img class="landmark-img" src="{{img}}" alt="{{name}}" data-action="openChild"/>
            <div class="landmark-main">
              <a class="landmark-name" data-action="openChild">{{name}}</a>
              {{#if childCount}}<span class="landmark-source"><i class="fa-solid fa-link"></i> {{childCount}} {{localize "SHIFT.Location.Landmarks"}}</span>{{/if}}
            </div>
            {{#if @root.editMode}}
              <a class="landmark-safe {{#if safe}}safe{{else}}unsafe{{/if}}" data-action="toggleChildSafe"
                 data-tooltip="{{#if safe}}{{localize 'SHIFT.Location.SafeToggle'}}{{else}}{{localize 'SHIFT.Location.UnsafeToggle'}}{{/if}}">
                <i class="fa-solid {{#if safe}}fa-campground{{else}}fa-fire{{/if}}"></i>
                {{#if safe}}{{localize "SHIFT.Location.Safe"}}{{else}}{{localize "SHIFT.Location.Unsafe"}}{{/if}}
              </a>
            {{else}}
              <span class="landmark-safe {{#if safe}}safe{{else}}unsafe{{/if}}">
                <i class="fa-solid {{#if safe}}fa-campground{{else}}fa-fire{{/if}}"></i>
                {{#if safe}}{{localize "SHIFT.Location.Safe"}}{{else}}{{localize "SHIFT.Location.Unsafe"}}{{/if}}
              </span>
            {{/if}}
            {{#if @root.editMode}}
              <div class="landmark-actions">
                <a class="ta-btn" data-action="openChild" data-tooltip="{{localize 'SHIFT.Party.OpenLocation'}}"><i class="fa-solid fa-up-right-from-square"></i></a>
                <a class="ta-btn danger" data-action="removeChild" data-tooltip="{{localize 'SHIFT.Location.RemoveChild'}}"><i class="fa-solid fa-link-slash"></i></a>
              </div>
            {{/if}}
          </li>
        {{/each}}
        {{#unless group.children.length}}
          <li class="empty landmark-empty"><i class="fa-solid fa-hand-pointer"></i> {{localize "SHIFT.Location.LandmarkDropHint"}}</li>
        {{/unless}}
      </ul>
    </div>
  {{/each}}
</section>
