<section class="settings-config-body rest-travel-config-body">
  <p class="hint">{{localize "SHIFT.Settings.RestTravelMenu.Hint"}}</p>

  <label class="setting-row num master">
    <span class="setting-text">
      <b>{{localize "SHIFT.Settings.RestMode.Name"}}</b>
      <em>{{localize "SHIFT.Settings.RestMode.Hint"}}</em>
    </span>
    <select name="restMode">
      {{#each restModeOptions}}<option value="{{value}}"{{#if selected}} selected{{/if}}>{{localize label}}</option>{{/each}}
    </select>
  </label>

  <label class="setting-row check">
    <input type="checkbox" name="enableTravel" {{checked enableTravel}}/>
    <span class="setting-text">
      <b>{{localize "SHIFT.Settings.EnableTravel.Name"}}</b>
      <em>{{localize "SHIFT.Settings.EnableTravel.Hint"}}</em>
    </span>
  </label>

  <label class="setting-row num">
    <span class="setting-text">
      <b>{{localize "SHIFT.Settings.TravelMode.Name"}}</b>
      <em>{{localize "SHIFT.Settings.TravelMode.Hint"}}</em>
    </span>
    <select name="travelMode">
      {{#each travelModeOptions}}<option value="{{value}}"{{#if selected}} selected{{/if}}>{{localize label}}</option>{{/each}}
    </select>
  </label>

  <label class="setting-row check">
    <input type="checkbox" name="travelRandomCore" {{checked travelRandomCore}}/>
    <span class="setting-text">
      <b>{{localize "SHIFT.Settings.TravelRandomCore.Name"}}</b>
      <em>{{localize "SHIFT.Settings.TravelRandomCore.Hint"}}</em>
    </span>
  </label>

  <div class="lw-section">
    <div class="setting-text">
      <b>{{localize "SHIFT.Settings.TravelLegWeights.Name"}}</b>
      <em>{{localize "SHIFT.Settings.TravelLegWeights.Hint"}}</em>
    </div>
    <div class="lw-grid">
      <div class="lw-head"><span></span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span></div>
      {{#each legWeights}}
        <div class="lw-row">
          <span class="lw-label">{{localize label}}</span>
          {{#each values}}<input type="number" name="lw_{{../key}}_{{@index}}" value="{{this}}" min="0" step="1"/>{{/each}}
        </div>
      {{/each}}
    </div>
  </div>

  <div class="rt-bar">
    <a class="lw-reset" data-action="resetLegWeights"><i class="fa-solid fa-rotate-left"></i> {{localize "SHIFT.Settings.TravelLegWeights.Reset"}}</a>
    <footer class="form-footer">
      {{#each buttons}}
        <button type="{{type}}"><i class="{{icon}}"></i> {{localize label}}</button>
      {{/each}}
    </footer>
  </div>
</section>
